[submodule "cryptominisat/cppsrc/scripts/build_scripts"]
	path = cryptominisat/cppsrc/scripts/build_scripts
	url = https://github.com/msoos/cryptominisat/cryptominisat_build.git
[submodule "cryptominisat/cppsrc/utils/OutputCheck"]
	path = cryptominisat/cppsrc/utils/OutputCheck
	url = https://github.com/stp/OutputCheck.git
[submodule "cryptominisat/cppsrc/utils/gtest"]
	path = cryptominisat/cppsrc/utils/gtest
	url = https://github.com/stp/googletest.git
[submodule "cryptominisat/cppsrc/utils/cnf-utils"]
	path = cryptominisat/cppsrc/utils/cnf-utils
	url = https://github.com/msoos/cnf-utils.git
[submodule "cryptominisat/cppsrc/utils/sha1-sat"]
	path = cryptominisat/cppsrc/utils/sha1-sat
	url = https://github.com/msoos/sha1-sat.git
[submodule "cryptominisat/cppsrc/utils/licensecheck"]
	path = cryptominisat/cppsrc/utils/licensecheck
	url = https://github.com/msoos/licensecheck.git
[submodule "cryptominisat/cppsrc/utils/minisat_only_elim_and_subsume"]
	path = cryptominisat/cppsrc/utils/minisat_only_elim_and_subsume
	url = https://github.com/msoos/minisat
	branch = only_elim_and_subsume
[submodule "cryptominisat/cppsrc/tests/simp-checks/simplifiy_testfiles"]
	path = cryptominisat/cppsrc/tests/simp-checks/simplifiy_testfiles
	url = https://github.com/msoos/simplifiy_testfiles
[submodule "cryptominisat/cppsrc/utils/minisat"]
	path = cryptominisat/cppsrc/utils/minisat
	url = https://github.com/msoos/minisat
	branch = fuzzer
[submodule "cryptominisat/cppsrc/tests/xor_cnf_tests"]
	path = cryptominisat/cppsrc/tests/xor_cnf_tests
	url = https://github.com/msoos/xor_testfiles.git
[submodule "cryptominisat/cppsrc/tests/pbsugar"]
	path = cryptominisat/cppsrc/tests/pbsugar
	url = https://github.com/msoos/pbsugar
[submodule "cryptominisat/cppsrc/utils/lingeling-ala"]
	path = cryptominisat/cppsrc/utils/lingeling-ala
	url = https://github.com/msoos/lingeling-ala/
